html {
    /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.15; /* 1. Correct the line height in all browsers. */
    -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
    -o-tab-size: 4;
    tab-size: 4; /* 3 */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

.block {
    min-width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f2e9e9;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}
.block__text {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #212121;
}
.block__table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}
.block__table-header {
    background-color: #f2f2f2;
}
.block__table-header, .block__table-body-text {
    border: 1px solid #ddd;
    padding: 8px;
    color: #212121;
}
.block__table-header:first-child {
    text-align: center;
}
.block__table-body-text:first-child {
    text-align: center;
}

.block__table-body-text--wider {
    width: 35%;
}
.block__table-body-text:last-child {
    width: 8%;
}
.block__table-body-checkbox {
    width: 15px;
    height: 15px;
}
.block__table-checkbox {
    width: 15px;
    height: 15px;
}
.block__circle {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
}

.block__circle--active {
    background-color: green;
}

.block__actions-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
}
.actions__item:not(:last-child) {
    margin-right: 5px;
}
.actions__button{
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: transparent;
    background-color: #2196F3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.actions__select {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}
.actions__option {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}
/*styles for validation forms*/
.was-validated .form-control:valid:focus {
    box-shadow: none;
    border-color: #ced4da;
}
.was-validated .form-control:valid,
.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"]{
    background-image: none;
    border-color: #ced4da;
}
.was-validated .form-check-input:valid {
    border-color: #ced4da;
}
.was-validated .form-check-input:valid:checked {
    border-color: #0d6efd;
    background-color: #0d6efd;
}
.was-validated .form-check-input:valid:focus,
.was-validated .form-select:valid:focus{
    box-shadow: none;
}